footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 18px;
    margin-left: 18px;
}

.zona {
    align-self: flex-start;
}

.creada, .zona {
    font-style: italic;
}