.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex-container  div {
    background-color: rgb(228, 93, 93);
    /*flex-direction: row;*/
    border: 1px solid black;
    width: 400px;
    margin: 20px;
}

#divPadre {
    background-color: rgb(57, 116, 57);
    height: 650px;
}

#siete {
    align-self: center;
}
