.flexContainer {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
}

#divPadre {
    height: 500px;
}

.flexContainer div {
    border: 1px solid black;
    background-color: rgb(226, 110, 110);
    align-self: center;
    height: 100px;
    width: 175px;
    margin: 15px;
}