body {
    background-color: #CDDEFF;
}

.btnImg {
    background-image: url(../images/flecha.png);
    background-repeat: no-repeat;
    height: 55px;
    width: 55px;
}

#txtAfter {
    color: black;
    text-shadow: 0.25em 0.15em white;
    font-size: x-large;
}

textarea::placeholder {
    color: white;
}

input:focus, textarea:focus, select:focus {
    /*background-color: #FF5959;*/
    background-color: #EEF2FF;
    border: 3px solid black;
}

textarea {
    width: 800px;
    height: 366px;
}

form {
    border: 4px solid #FF5959;
}

#btnSave {
    border-radius: 6px;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #676FA3 inset, 0 0 0 0 #676FA3;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

#btnSave:hover {
    box-shadow: 0 0 10px 0 #EEF2FF inset, 0 0 10px 4px #EEF2FF;
}

