:root{
    --color-primary: #7380EC;
    --color-danger: #FF7782;
    --color-success: #41F1B6;
    --color-warning: #FFBB55;
    --color-white: #FFF;
    --color-info-dark: #7D8DA1;
    --color-info-light: #DCE1EB;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111E88;
    --color-dark-variant: #677483;
    --color-background: #F6F6F9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.item-cabecera{
    grid-area: cabecera;
    background-color: aliceblue;
}

.item-menu{
    grid-area: menu;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-presentacion{
    grid-area: presentacion;
    background-color: aquamarine;
}

.item-main{
    grid-area: main;
    background-color: bisque;
}

.item-sec1{
    grid-area: seccion1;
    background-color: yellowgreen;
}

.item-sec2{
    grid-area: seccion2;
    background-color: yellow;
}

.item-fotos{
    grid-area: fotos;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.item-footer{
    grid-area: footer;
    background-color: brown;
}

body{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: 90px 150px 100px 100px 100px 150px auto 90px;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera cabecera cabecera cabecera cabecera"
    "presentacion presentacion presentacion presentacion presentacion presentacion presentacion presentacion"
    "menu main main main main main seccion1 seccion1"
    "menu main main main main main seccion1 seccion1"
    "menu main main main main main seccion2 seccion2"
    "menu main main main main main seccion2 seccion2"
    "fotos fotos fotos fotos fotos fotos fotos fotos"
    "footer footer footer footer footer footer footer footer";
}

.img1 img, .img2 img, .img3 img, .img4 img{
    height:300px;
    width: 200px;
    border: 10px solid black;
}

